@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sevillana&display=swap");

* {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.nav h1 {
  color: orange;
}

.nav button {
  padding: 10px 20px;
  border: 1px solid orange;
  background-color: orange;
  color: #fff;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
}

.summary {
  text-align: center;
  padding: 20px 10px;
}

.p {
  color: dimgrey;
  font-size: 17px;
}
